services:
  weather:
    build: .
    restart: always
    network_mode: host
    env_file:
      - .env
    volumes:
      - .:/app

  bedroom:
    build: .
    restart: always
    network_mode: host
    env_file:
      - .env
    volumes:
      - .:/app
    command: ["./scripts/bedroom"]
