services:
  weather:
    build: .
    restart: always
    network_mode: host  # Required for Pixoo device discovery
    env_file:
      - .env

  bedroom:
    build: .
    command: ./scripts/bedroom
    restart: always
    network_mode: host
    env_file:
      - .env
