services:
  weather:
    build: .
    restart: always
    network_mode: host
    env_file:
      - .env
    volumes:
      - .:/app
    command: >
      sh -c "git pull --ff-only || true && bundle check || bundle install && ./scripts/weather"

  bedroom:
    build: .
    restart: always
    network_mode: host
    env_file:
      - .env
    volumes:
      - .:/app
    command: >
      sh -c "git pull --ff-only || true && bundle check || bundle install && ./scripts/bedroom"
